.App {
  text-align: center;
}
table {
  width: 500px;
  height: 500px;
  margin: auto;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border: 1px solid gray;
  border-collapse: collapse;
}

.numberCell {
  width: 30px;
  height: 50px;
}

.letterCell {
  width: 50px;
  height: 30px;
}

.cellWhite {
  border: 1px solid lightgray;
}

.cellBlack {
  background-color: black;
  border: 1px solid lightgray;
}

.cellBlue {
  background-color: mediumblue;
  border: 1px solid lightgray;
}

.cellGreen {
  background-color: limegreen;
  border: 1px solid lightgray;
}